{% extends 'frontend/layout.html' %}

{% block page_title %} Colaboradores {% endblock page_title %}

{% block content %}

    {% if not usuarios %}

    <h3 class="text-center">Não existem registros</h3>

    {% else %}

    <div class="row">
        <div class="col-xs-12 col-sm-6">

            <h2>Faltantes</h2>

            <ul class="usuarios list-group">
                {% for usuario in usuarios %}
                <li class="list-group-item text-center {% if usuario.turn %}disabled{% endif %}">
                    {{ usuario.first_name }} {{ usuario.last_name }}
                </li>
                {% endfor %}
            </ul>

        </div>

        <div class="col-xs-12 col-sm-6">

            <h2>Chamados</h2>

            <ul class="usuarios list-group">
                {% for usuario in usuarios %}
                <li class="list-group-item text-center {% if usuario.turn %}disabled{% endif %}">
                    {{ usuario.first_name }} {{ usuario.last_name }}

                    <div class="pull-right">
                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>

    </div>

    <div class="text-center">
        <button class="btn btn-default"><i class="fa fa-random" aria-hidden="true"></i> Escolher Aleatório</button>
        <a class="btn btn-default" href="{% url 'set_as_voluntary' %}"><i class="fa fa-hand-spock-o" aria-hidden="true"></i> Voluntariar-se</a>
    </div>
    {% endif %}

{% endblock content %}