{% extends 'main/layout.html' %}

{% block page_title %} Colaboradores {% endblock page_title %}

{% block content %}

    {% if not rows %}

    <h3 class="text-center">Não existem registros</h3>

    {% else %}

    <h1 class="text-center">Colaboradores</h1>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <ul class="list-group">
                {% for row in rows %}
                <li class="list-group-item {% if row.flag_date %}disabled{% endif %}">
                    <span class="badge">{{ row.flag_date|default_if_none:'-' }}</span>
                    {{ row.name }}
                </li>
                {% endfor %}
            </ul>
        
            <div class="text-center">
                <button class="btn btn-default">Voluntariar-se</button>
            </div>
        </div>
    </div>

    {% endif %}

{% endblock content %}