{% extends 'frontend/layout.html' %}

{% block page_title %} Colaboradores {% endblock page_title %}

{% block content %}

    {% if not usuarios %}

    <h3 class="text-center">Não existem registros</h3>

    {% else %}

    <h1 class="text-center">Colaboradores</h1>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <ul class="usuarios list-group">
                {% for usuario in usuarios %}
                <li class="list-group-item {% if usuario.turn %}disabled{% endif %}">
                    {{ usuario.first_name }}

                    <div class="pull-right">
                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        
            <div class="text-center">
                <button class="btn btn-default">Voluntariar-se</button>
            </div>
        </div>
    </div>

    {% endif %}

{% endblock content %}